:root {
    --default-font: 'Mukta', sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;
    --fw-light: 300;
    --primary-color: #EE4540;
    --secundary-color: #C72C41;
    --body-color: #F2F2F2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--default-font);
}


/************** Utilities *************/


/************** Clearfix **************/

.clearfix:before,
.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}


/******* Margin collapsing fix *******/

.mgn-collapsng-fix {
    padding: 0.1px 0;
}


/********* Position relative *********/

.relative {
    position: relative;
}


/******** Container centered *********/

.container-centered {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}