/***************** Mobile-first *****************/

:root {
    --default-font: 'Mukta', sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;
    --fw-light: 300;
    --primary-color: #EE4540;
    --secundary-color: #C72C41;
    --normal-text-color: #2D142C;
    --primary-hover-color: #2D142C;
    --secundary-hover-color: #EE4540;
    --body-color: #F2F2F2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--default-font);
    font-weight: var(--fw-light);
    font-size: 1.8rem;
    color: var(--normal-text-color);
}

h2 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

@media (min-width: 768px) {
    h2 {
        text-align: left!important;
    }
}

h3 {
    font-size: 3rem;
}

a {
    color: var(--body-color);
}


/******************* Utilities ******************/


/************** Clearfix **************/

.clearfix:before,
.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}


/******* Margin collapsing fix *******/

.mgn-collapsng-fix {
    padding: 0.1px 0;
}


/********* Position relative *********/

.relative {
    position: relative;
}


/**** Position absolute (center) *****/

.absolute-center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


/******** Container centered *********/

.container-centered {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}


/********** Flex Container ***********/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/************ Flex Item **************/

.flex-container>* {
    flex: 0 0 calc(100% - .5rem);
}


/******************* Sections ******************/


/************** Header ***************/

header {
    height: 100vh;
    background-color: var(--primary-color);
}

header p,
header h1 {
    margin: 0;
}

div.go-to {
    height: 20vh;
}

div.go-to div.absolute-center a {
    display: inline-block;
}

div.go-to div.absolute-center a svg {
    transition: fill .5s;
}

div.go-to div.absolute-center a:first-of-type {
    margin-right: 2rem;
}

header a:hover svg {
    fill: var(--primary-hover-color);
}

div.banner {
    height: 60vh;
}

div.banner div.banner-absolute {
    position: absolute;
    top: 20%;
    right: 0%;
    left: 0%;
}

div.banner-absolute h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 9.6rem;
}

div.story {
    background: url(../img/Story-Responsive-pana.png), var(--body-color);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-attachment: fixed;
    background-position: center;
}

div.banner div.bg-image-text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

div.welcome-phrase {
    height: 20vh;
    text-align: center;
    font-size: 2.5rem;
    color: var(--body-color);
    line-height: 1.8;
}

@media (min-width: 768px) {
    div.story {
        background-size: 70rem auto;
    }
}

@media (orientation: landscape) and (max-height: 320px) {
    h1 {
        font-size: 6.6rem;
    }
    h1 br {
        display: none;
    }
    .welcome-phrase p {
        font-size: 1.5rem;
    }
}


/********** Background Fix ***********/

.bck-fix {
    height: 30rem;
}

@media (min-width: 425px) {
    .bck-fix {
        height: 40rem;
    }
}


/*********** Technologies ************/

section.technologies>h2,
section.technologies>p {
    text-align: center;
}

ul.technologies {
    list-style: none;
    padding-inline-start: 0;
}

.technologies li {
    text-align: center;
    margin-bottom: 1rem;
    color: lightgrey;
}

.technologies span {
    font-size: 2rem;
    display: block;
}

@media (min-width: 425px) {
    .technologies.flex-container {
        justify-content: flex-start;
    }
    .technologies.flex-container>* {
        flex: 0 0 calc(50% - .5rem);
    }
}

@media (min-width: 768px) {
    section.technologies>p {
        text-align: left;
    }
    .technologies.flex-container>* {
        flex: 0 0 calc(20% - .5rem);
    }
}


/******** UI Design Section **********/

.ui-design-section h2 {
    color: var(--body-color);
}

.ui-design-section {
    background-color: var(--primary-color);
    text-align: center;
}

.frames iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/****** Code Projects Section ********/

main h2 {
    text-align: center;
}

ul.projects {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

li.project {
    margin-bottom: 1rem;
}

li.project>a {
    display: block;
    line-height: 0;
    background-color: var(--primary-color);
}

li.project a img {
    opacity: .2;
}

li.project a p {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: initial;
    margin: 0;
}

li.project>a,
li.project>a>* {
    transition: all .9s;
}

li.project>a:hover {
    background-color: transparent;
}

li.project>a:hover img {
    opacity: 1;
}

li.project>a:hover p {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 768px) {
    .flex-container>*.project:not(:first-of-type) {
        flex: 0 0 calc(50% - .5rem);
        margin-right: auto;
    }
}


/********* Contact Section ***********/

.background-contact {
    background: url(../img/background-contact.png), var(--secundary-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3rem 0;
}

.background-c-opacity {
    background-color: rgba(0, 0, 0, .4);
}

.contact h2 {
    color: var(--body-color);
}

.contact {
    text-align: center;
    max-width: 30rem;
}

.contact img {
    width: 15rem;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.personal-link {
    margin: 2rem 0;
}

.personal-link a {
    color: var(--body-color);
    text-decoration: none;
    display: inline-block;
    margin: .4rem 0;
    font-size: 2rem;
}

.personal-link a::after {
    content: '';
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: .5rem;
}

a.copy::after {
    background: url(../img/copy-icon.svg);
}

a.chevron::after {
    background: url(../img/right-arrow.svg);
}

.personal-link a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .background-c-opacity {
        padding-bottom: 2rem;
    }
    .contact {
        text-align: unset;
        max-width: 45rem;
    }
    .contact h2 {
        text-align: center!important;
    }
    .personal-link {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        margin: 0;
        margin-left: 2rem;
        width: 31rem;
    }
}


/************* Footer ***************/

footer {
    color: var(--body-color);
    background-color: var(--primary-color);
}

footer p {
    line-height: 1.7;
}

footer p,
footer h3 {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    transition: color .5s;
}

footer a:hover:not(#link-icons) {
    color: var(--primary-hover-color);
    text-decoration: underline;
}

.about {
    background-color: var(--secundary-color);
}

#link-icons svg {
    vertical-align: text-bottom;
    height: 22px;
    transition: fill .5s;
}

a#link-icons:hover svg {
    fill: var(--primary-hover-color);
}

@media (min-width: 768px) {
    .rights div p>br {
        display: none;
    }
    a#link-icons {
        margin-left: .5rem;
    }
    a#link-icons svg {
        vertical-align: middle;
    }
}