/***************** Mobile-first *****************/

:root {
    --default-font: 'Mukta', sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;
    --fw-light: 300;
    --primary-color: #EE4540;
    --secundary-color: #C72C41;
    --normal-text-color: #2D142C;
    --body-color: #F2F2F2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--default-font);
    font-weight: var(--fw-light);
    font-size: 1.8rem;
    color: var(--normal-text-color);
}

h2 {
    font-size: 3.5rem;
    color: var(--primary-color);
}

h3 {
    font-size: 3rem;
}

a {
    color: var(--body-color);
}


/******************* Utilities ******************/


/************** Clearfix **************/

.clearfix:before,
.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}


/******* Margin collapsing fix *******/

.mgn-collapsng-fix {
    padding: 0.1px 0;
}


/********* Position relative *********/

.relative {
    position: relative;
}


/**** Position absolute (center) *****/

.absolute-center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


/******** Container centered *********/

.container-centered {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}


/********** Flex Container ***********/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/************ Flex Item **************/

.flex-container>* {
    flex: 0 0 calc(100% - .5rem);
}


/******************* Sections ******************/


/************** Header ***************/

header {
    height: 100vh;
    background-color: var(--primary-color);
}

header p,
header h1 {
    margin: 0;
}

div.go-to {
    height: 20vh;
}

div.go-to div.absolute-center a {
    display: inline-block;
}

div.go-to div.absolute-center a:first-of-type {
    margin-right: 2rem;
}

div.banner {
    height: 60vh;
}

div.banner div.banner-absolute {
    position: absolute;
    top: 20%;
    right: 0%;
    left: 0%;
}

div.banner-absolute h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 9.6rem;
}

div.story {
    background: url(../img/Story-Responsive-pana.png), var(--body-color);
    background-repeat: no-repeat;
    background-size: 70rem auto;
    background-attachment: fixed;
    background-position: center;
}

div.banner div.bg-image-text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

div.welcome-phrase {
    height: 20vh;
    text-align: center;
    font-size: 2.5rem;
    color: var(--body-color);
    line-height: 1.8;
}


/********** Background Fix ***********/

.bck-fix {
    height: 50rem;
}


/*********** Technologies ************/

section.technologies>h2,
section.technologies>p {
    text-align: center;
}

ul.technologies {
    list-style: none;
    padding-inline-start: 0;
}

.technologies li {
    text-align: center;
    margin-bottom: 1rem;
    color: lightgrey;
}

.technologies span {
    font-size: 2rem;
    display: block;
}


/******** UI Design Section **********/

.ui-design-section h2 {
    color: var(--body-color);
}

.ui-design-section {
    background-color: var(--primary-color);
    text-align: center;
}

.frames iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/****** Code Projects Section ********/

main h2 {
    text-align: center;
}

ul.projects {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

li.project {
    margin-bottom: 1rem;
}

li.project>a {
    display: block;
    line-height: 0;
    background-color: var(--primary-color);
}

li.project a img {
    opacity: .2;
}

li.project a p {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: initial;
    margin: 0;
}